.content {
	width: 100%;
	position: relative;
}
.zhitomirToday {
	width: 32%;
	float: left;
	margin-right: 2%;
	margin-top: 17px;
}
.zhitomirToday .zhitomirToday-item {
	margin-bottom: 20px;
	display: block;
}
.zhitomirToday > div {
	border-bottom: 1px solid #dce9ff;
	margin-bottom: 20px;
}
.zhitomirToday h2 {
	padding: 12px 15px 12px 15px;
    font-size: 1em;
    line-height: 1em;
    font-family: "Noto sans", sans-serif;
    display: inline-block;
    background: linear-gradient(#eef4ff, #dce9ff);
    color: #2954a7;
}
.zhitomirToday time {
	margin-left: 15px;
	color: #999999;
	float: left;
	margin-right: 20px;	
	width: 30px;
    text-align: center;
}
.zhitomirToday a:hover {
	color: inherit;
}
.zhitomirToday .zhitomirToday-wrapContent {
	width: 280px;
	float: right;
}
.zhitomirToday p > a {
	color: #222222;
	font-family: "Noto sans", sans-serif;
	    font-size: 1.077em;
} 
.zhitomirToday .zhitomirToday-magazine::before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	background-color: #7388bf;
	    margin-left: 5px;
    margin-right: 5px;
    top: -2px;
}
.zhitomirToday .zhitomirToday-magazine {
	color: #7388bf;
	position: relative;
	font-family: "Scada", sans-serif;
}
.zhitomirToday .zhitomirToday-magazine:hover {
	color: #7388bf;
}
.zhitomirToday .olderNews {
	margin-top: -15px;
}
.zhitomirToday .olderNews h3 {
	color: #999999;
	font-weight: 400;
	margin-left: 15px;
	width: 30px;
	display: inline-block;
	position: relative;
	text-align: center;
	font-size: 1em;
} 
.zhitomirToday .olderNews h3::after {
	content: "";
	display: inline-block;
	position: absolute;
	height: 1px;
	width: 280px;
	background-color: #b9c3df;
	width: 280px;
    top: 7px;
    left: 58px;
}
.zhitomirToday-pages {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 8px;
	border-top: 1px solid #dce9ff;
	border-bottom: 1px solid #dce9ff;
}
.zhitomirToday-pages ul {
	display: inline-block;
}
.zhitomirToday-pages span {
	font-weight: 700;
	font-family: "Noto sans", sans-serif;
	position: relative;
	top: -5px;
}
.zhitomirToday-pages li {
	font-family: "Noto sans", sans-serif;
	display: table-cell;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	color: #b0b0b0;
}
.zhitomirToday-pages li a:hover {
	color: #d62424;
	text-decoration: none;
}
.zhitomirToday-pages .activePage {
	background: linear-gradient(#677fbe, #2b4691);
	color: white;
}
.mainSlider {
	width: 66%;
	float: right;
	margin-bottom: 30px;
}

.flexslider {
	border: none;
	margin-bottom: 0;
}
.flex-control-nav.flex-control-thumbs li {
	position: relative;
}
.flex-control-thumbs img {
	padding-bottom: 3px;
	border-bottom: 3px solid transparent;
}
.flex-control-thumbs img.flex-active {
	
	border-bottom: 3px solid #d62424;
}
.flex-control-thumbs img {
	transition-duration: .2s;
}
.flexslider .slides li {
	position: relative;
	height: 380px;
}
.flexslider .sliderImageWrapper {
	height: 380px;
	overflow: hidden;
	position: relative;
}
.flexslider ul img {
	width: 100%;
position: relative;
    top: -15%;

}
.flexslider h3 {
	    display: inline-block;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 13px 15px;
    text-transform: uppercase;
    font-family: 'Noto sans', sans-serif;
    background: linear-gradient(#e75957,#c31a1f);
    font-size: 1.4em;
    line-height: 1em;
    color: white;
}
.flexslider time {
	position: absolute;
    right: 16px;
    top: 16px;
    font-size: 1.4em;
    padding: 13px 15px;
    line-height: 1em;
    color: #666666;
    background: linear-gradient(#fff,#ededed);
    text-transform: uppercase;
}
.flexslider .author {
	font-family: "Noto-sans", sans-serif;
    bottom: 16px;
    left: 30px;
    font-size: 1.4em;
    font-style: italic;
    position: absolute;
    color: #f6f6f6;
}
.flexslider .author::before {
	content: "";
	position: absolute;
	left: -15px;
	width: 3px;
	height: 18px;
	background: #d62424;
}
.flexslider p {
	    display: inline-block;
    bottom: 55px;
    font-weight: 700;
    padding: 20px 0 20px 30px;
	margin-right: 30px;
    color: #ffffff;
    font-size: 2em;
    background-size: 100%;
	position: absolute;
	background-image: url("../images/sliderTextBackground.png");
}
.flex-control-thumbs li {
	width: 18.4%;
    margin-right: 2%;
    margin-top: 10px;
}
.flex-control-thumbs li:last-child {
	margin-right: 0;
}

.todayWord {
	margin-right: 2%;
	width: 32%;
	float: left;
	background-color: #f4f8ff;
}
.blogs {
	width: 32%;
	float: left;
	background-color: #f4f8ff;	
	min-height: 450px;
}

.blockHeader {
	padding: 12px 15px 12px 15px;
    font-size: 1em;
    line-height: 1em;
    font-family: "Noto sans", sans-serif;
    display: inline-block;
    background: linear-gradient(#eef4ff, #dce9ff);
    color: #2954a7;
}
.blockNext {
    float: right;
    color: #2954a7;
    margin-right: 20px;
    margin-top: 12px;
}
.todayWord h3 {
	margin: 15px;
	font-size: 1.4em;
	color: #2954a7;
}
.todayWord figure {
	float: left;
	margin: 0 15px 15px 15px;

}
.todayWord figure img {
	width: 135px;
}
.todayWord figcaption {
	margin-top: 10px;
	font-weight: 700;
	font-size: 1.1em;
	color: #2954a7;
}
.todayWord figcaption a {
	position: relative;
	top: -3px;
}
.todayWord figcaption::before {
	content: "";
	display: inline-block;
	position: relative;
	margin-right: 7px;
	float: left;
	height: 29px;
	width: 3px;
	background-color: #d62424;
}
.todayWord p {
	font-family: "Noto sans", sans-serif;
	margin: 0 15px 15px 15px;
}
.blogs li {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom: 1px solid #ffffff;
}
.blogs figure {

}
.blogs figcaption {
	width: calc(100% - 75px);
	display: inline-block;
	float: right;
}
.blogs h3 {
	color: #2954a7;
}
.blogs p {
	font-family: "Noto sans", sans-serif;
}
.blogs time {
	color: #999;
}
.blogImgWrapper {
	border-radius: 50%;
	display: inline-block;
	height: 60px;
	width: 60px;
	position: relative;
	overflow: hidden;
	margin-right: 12px;
}
.blogImgWrapper img {
	width: 100%;
}