* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul,
figure,
p,
h1,
h2,
dl {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input,
button {
    outline: none;
}

body {
    font-family: 'Scada', sans-serif;
    font-size: 13px;
}

.clear::after {
    display: table;
    clear: both;
    content: '';
}

.mainWrapper {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    /* padding-top: 20px; */
}

.mainAside {
    position: relative;
    float: left;
    width: 10%;
    min-width: 130px;
    max-width: 130px;
    margin-top: 20px;
}

.mainBlock {
    position: relative;
    float: left;
    width: 90%;
    max-width: 1130px;
    padding-top: 20px;
    padding-right: .8%;
    padding-left: .8%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}


/* font-family: 'Noto sans', sans-serif; */


/* font-family: 'Scada', sans-serif; */
